table {
  border-collapse: collapse;
  display: flex;
  flex-direction: row;
  width: 100%;
}

tr {
  background-color: #fff;
  padding: 10px;
  font-size: 13pt;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
}

tr:hover {
  background-color: #fafafa;
}

tr:hover button{
  opacity: 1;
}
th, td {
  border-bottom: 1px solid #ddd;
  
}

.storie{
  padding: 10px;
  font-size: 13pt;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 85%;
  
}

.date {
  padding: 17.5px;
  color: #333;
  font-size: 13pt;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 10%;
}

.delete {
  
  width: 5%;
  display: flex;
  flex-direction: row;
  align-content: center;
}

p {
  color: #999;
 }

a:link {
  padding: 17.5px;
  text-decoration: none;
  color:#333;
  font-size: 13pt;
  display: flex;
  flex-direction: row;
  align-content: center;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
  opacity: 0;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}