<div *ngIf="serveroffline" class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Warning!</strong> Server is offline. You can see stories, but not delete them. Server will try to reconnect after 20s
</div>
<div *ngFor="let storie of feeds">
  <table>
    <tr *ngIf="!storie.hidden">
      <td class="storie" *ngIf="storie.url; else nourl">
        <a href="{{ storie.url }}" target="_blank" rel="noopener">{{
          storie.title
        }}</a><p>  - {{ storie.author }} -</p>
      </td>
      <ng-template #nourl>
        <td class="storie">
          <a
            href="https://news.ycombinator.com/item?id={{ storie.ext_id }}"
            target="_blank"
            rel="noopener"
            >{{ storie.title }}</a
          >
          <p>  - {{ storie.author }} -</p>
        </td>
      </ng-template>
      <td class="date">{{ storie.date |  amCalendar }}</td>
      <td *ngIf="!serveroffline" class="delete">
        <button
          class="fa fa-trash"
          role="button"
          (click)="deleteFeed(storie._id)"
        ></button>
      </td>
    </tr>
  </table>
</div>
