/* Style the body */
body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/Logo Title */
  .header {
    padding: 60px;
    
    text-align: left;
    background: #000000;
    color: white;
    font-size: 45px;
  }
  
  /* Page Content */
  .content {padding:20px;}